<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	{% if register_flag %}
		<title>Admin page</title>
	{% else %}
		<title>Welcome page</title>
	{% endif %}

	<link rel="stylesheet" href='{% static "css/persons.css" %}'>

</head>

<body>
	<div id="upper-div"></div>
	{% if not register_flag %}
		<div class="register">
			<form method="POST" action="register/">
				{% csrf_token %}
				<table class="form">
					{{ adminform }}
				</table>
				<input type="submit" value="Register">
			</form>
			{% if register_error %}
				<h3 style="color: red; font-size: 13px;">Not found</h3>
			{% endif %}
		</div>
	{% endif %}

	{% if register_flag %}
		<div class="admin">
			<p>{{ login }}</p>
			<nav id="navigation">
    			<button aria-expanded="false">Settings</button>
    			<div class="settings-list" hidden>
       	 			<button onclick="backgroundColorChange()">Change theme</button>
       	 			<form method="GET" action="quit/">
						<input type="submit" value="Quit">
					</form>
    			</div>
			</nav>
		</div>

		<div class="add_person">
			<form method="POST" action="create/">
				{% csrf_token %}
				<caption>Here you can add a person:</caption>
				<table class="form">
					{{ userform }}
				</table>
				<input type="submit" value="Add">
			</form>
		</div>

		{% if people %}
			<div class="add_person">
				<form method="GET" action="find_person/">
					{% csrf_token %}
					<caption>Find a person:</caption>
					<table class="form">
						{{ findform }}
					</table>
					<input type="submit" value="Find">
				</form>
			</div>
		{% endif %}
	{% endif %}

	{% if find_person_flag %}
		<div class="find_person">
			<table id="find_person" class="table">
				<caption style="color: green; font-weight: bold;">Result</caption>
				<a href="export_data_from_find_person/">
					<button>Export result as CSV</button>
				</a>
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>surname</th>
						<th>age</th>
						<th>height<br>[cm]</th>
						<th>weight<br>[kilos]</th>
						<th>actions</th>
					</tr>
				</thead>

				<tbody>
				{% for person in find_persons %}
					<tr>
						<td>{{ person.id }}</td>
						<td>{{ person.name }}</td>
						<td>{{ person.surname }}</td>
						<td>{{ person.age }}</td>
						<td>{{ person.height }}</td>
						<td>{{ person.weight }}</td>
						<td><a href="edit/{{ person.id }}"><input type="submit" value="Edit"></a> <a href="delete/{{ person.id }}/"><input type="submit" value="Delete"></a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	{% if people %}
		<table id="statistics" class="table">
			<caption>Statistics age</caption>
			<tr>
				<td>avarage age</td>
				<td>{{ statistics.avg_age }}</td>
			</tr>
			<tr>
				<td>min age</td>
				<td>{{ statistics.min_age }}</td>
			</tr>
			<tr>
				<td>max age</td>
				<td>{{ statistics.max_age }}</td>
			</tr>
			<tr>
				<td>sum of age</td>
				<td>{{ statistics.sum_age }}</td>
			</tr>
		</table>
		<table id="statistics" class="table">
			<caption>Statistics height</caption>
			<tr>
				<td>avarage height</td>
				<td>{{ statistics.avg_height }}</td>
			</tr>
			<tr>
				<td>min height</td>
				<td>{{ statistics.min_height }}</td>
			</tr>
			<tr>
				<td>max height</td>
				<td>{{ statistics.max_height }}</td>
			</tr>
			<tr>
				<td>sum of height</td>
				<td>{{ statistics.sum_height }}</td>
			</tr>
		</table>
		<table id="statistics" class="table">
			<caption>Statistics weight</caption>
			<tr>
				<td>avarage weight</td>
				<td>{{ statistics.avg_weight }}</td>
			</tr>
			<tr>
				<td>min weight</td>
				<td>{{ statistics.min_weight }}</td>
			</tr>
			<tr>
				<td>max weight</td>
				<td>{{ statistics.max_weight }}</td>
			</tr>
			<tr>
				<td>sum of weight</td>
				<td>{{ statistics.sum_weight }}</td>
			</tr>
		</table>
	{% endif %}

	<div class="buttons">
		{% if register_flag %}
		<form id="upload" method="POST" enctype="multipart/form-data" action="upload/">
			{% csrf_token %}
			{{ uploadform.as_p }}
			<br/>
			<input type="submit" value="Upload to table" name="csv_file">
			{% if csv_error %}
				<h3 style="color: red;">error</h3>
			{% endif %}
		</form>

		<a href="delete_all/">
			<button>Delete all data</button>
		</a>
		{% endif %}
		{% if people %}
			<a href="export_all/">
				<button>Export all as CSV</button>
			</a>
		{% endif %}
	</div>

	<div class="persons-table">
		<table class="table">
			<caption>Our persons (total: {{ statistics.len_people }})</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>surname</th>
					<th>age</th>
					<th>heigh<br>[cm]</th>
					<th>weight<br>[kilos]</th>
					{% if register_flag and people %}
						<th>actions</th>
					{% endif %}
				</tr>
			</thead>
			
			<tbody>
				{% if people %}
					{% for person in people %}
						<tr>
							<td>{{ person.id }}</td>
							<td>{{ person.name }}</td>
							<td>{{ person.surname }}</td>
							<td>{{ person.age }}</td>
							<td>{{ person.height }}</td>
							<td>{{ person.weight }}</td>
							{% if register_flag %}
								<td><a href="edit/{{ person.id }}"><input type="submit" value="Edit"></a> <a href="delete/{{ person.id }}/"><input type="submit" value="Delete"></a></td>
							{% endif %}
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td>No data</td>
						<td>No data</td>
						<td>No data</td>
						<td>No data</td>
						<td>No data</td>
						<td>No data</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>

	<script src="{% static 'js/persons.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>